﻿@using Domain
@model Domain.Feedback

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<link href="@Url.Content("~/Content/rating.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/rating.js")" type="text/javascript"></script> 

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Feedback</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comment, new { rows = 5, cols = 40 })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="star-rating">
                    <input type="radio" name="rating" value="1"><i></i>
                    <input type="radio" name="rating" value="2"><i></i>
                    <input type="radio" name="rating" value="3"><i></i>
                    <input type="radio" name="rating" value="4"><i></i>
                    <input type="radio" name="rating" value="5"><i></i>
                    <input type="radio" name="rating" value="6"><i></i>
                    <input type="radio" name="rating" value="7"><i></i>
                    <input type="radio" name="rating" value="8"><i></i>
                    <input type="radio" name="rating" value="9"><i></i>
                    <input type="radio" name="rating" value="10"><i></i>
                </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InstitutionId, "Institution", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InstitutionId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.InstitutionId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        
    </div>
}

<div>
    <p>@Html.ActionLink("Check other feedbacks", "Index")</p>
    <p>@Html.ActionLink("Check institutions", "Index", "Institution")</p>
</div>
@section Scripts {
    
    @Scripts.Render("~/bundles/jqueryval")
}
    