﻿@model PagedList.IPagedList<Domain.Institution>
@using PagedList.Mvc;
<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Institution";
}

<h2>Intitution</h2>

<p>
    @Html.ActionLink("Add institution", "Create")
</p>

@using (Html.BeginForm("Index", "Institution", FormMethod.Get))
{
    <p>
        @Html.TextBox("filter", ViewBag.CurrentFilter as string, new { PlaceHolder = "Search by Institution" })
        <input type="submit" value="Search"/>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.CatParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Institution", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Address", "Index", new { sortOrder = ViewBag.AddressSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Average rating", "Index", new { sortOrder = ViewBag.AvrgParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Times rated", "Index", new { sortOrder = ViewBag.TimesRatedParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageRating)/10
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimesRated)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.InstitutionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InstitutionId }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.InstitutionId })
        </td>
    </tr>
}

</table>
<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))